.month-row {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}

.month-back,
.month-forward {
  width: 35px;
  border: none;
  background-color: $light-grey;
}

.day-names,
.day-boxes {
  display: grid;
  grid-template-columns: repeat(7, minmax(0px, 1fr));
  gap: 3px;
  width: 100%;
}

.day-name {
  border-bottom: $solid-border;
}

.day-box {
  border: $solid-border;
  border-radius: 10px;
  height: auto;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  align-items: center;

  &:hover {
    background-color: rgb(200, 222, 255);
  }
}

.day-box-task {
  background-color: rgb(93, 158, 255);

  &:hover {
    background-color: rgb(0, 74, 211);
    color: white;
  }
}

.day-box-task-today,
.day-box-task-today:hover {
  background-color: rgb(0, 74, 211);
  color: white;
}

.day-today,
.day-today:hover {
  background-color: rgb(20, 91, 197);
  color: white;
}

.center-num {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calendar-to-do-item {
  margin: 3px 0;
  padding: 3px 0;
  border-bottom: $solid-border;
}
