.calculator-input-div {
  margin: 20px 0;
  justify-content: center;
}

.calculator {
  grid-template-columns: repeat(4, 80px);
  gap: 3px;
  justify-content: center;
}

.calculator-button {
  border: 2px solid black;
  border-radius: 10px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  align-items: center;
  font-size: 25px;

  &:hover {
    background-color: #004ad3;;
    color: white;
  }
}
