<div class="grid grid-center">
  <div class="container">
      
      <div class="grid grid-center">
          <div class="grid-center title">My Calendar</div>
      </div>

      <div class="month-row">
          <div class="back-div"><button class="month-back"><img src="../images/angle-left-solid.svg"></button></div>
          <div class="month-title"></div>
          <div class="forward-div"><button class="month-forward"><img src="../images/angle-right-solid.svg"></button></div>
      </div>

      <div class="day-names">
          <div class="day day-name">Sun</div>
          <div class="day day-name">Mon</div>
          <div class="day day-name">Tue</div>
          <div class="day day-name">Wed</div>
          <div class="day day-name">Thur</div>
          <div class="day day-name">Fri</div>
          <div class="day day-name">Sat</div>
      </div>

      <div class="day-boxes">
      </div>

  </div>

  <div class="grid grid-center modal">

    <div class="grid grid-center modal-content container">

      <div class="grid modal-title-div">
        <div class="title modal-title">My Modal</div>
        <div class="modal-close">&times;</div>
      </div>

      <div class="modal-body">
        <div>Random Text</div>
      </div>

    </div>

  </div>
  
</div>
