{{!-- <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="css/index.css" />
        <link type="text/css" rel="stylesheet" href={{css}} />
    </head>

    <body>
        <nav class="grid nav-div">
        <span class="nav-item"><a class="nav-item-anchor" href='todo'>To-Dos</a></span>
        <span class="nav-item"><a class="nav-item-anchor" href='calendar'>Calendar</a></span>
        <span class="nav-item"><a class="nav-item-anchor" href='calculator'>Calculator</a></span>
        </nav>

        {{{body}}}

        <script type="text/javascript" src={{js}}></script>
    </body>
</html> --}}