<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>To Do List</title>
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <link type="text/css" rel="stylesheet" href="../css/toDo.css" />
  </head>

  <body>
    <nav class="grid nav-div">
      <span class="nav-item"><a class="nav-item-anchor" href="toDo.html">To-Dos</a></span>
      <span class="nav-item"><a class="nav-item-anchor" href="calendar.html">Calendar</a></span>
      <span class="nav-item"><a class="nav-item-anchor" href="calculator.html">Calculator</a></span>
    </nav>
    <div class="grid grid-center">
      <div class="grid grid-center container">

          <div class="title">My To-Do's</div>

          <div class="grid input-div">
            <input class="input-box" placeholder="Add to do..." type="text">
            <button class="to-do-button"><img src="../images/pencil-alt-solid.svg"></button>
          </div>

          <div class="grid to-do-list">
          </div>
      </div>
    </div>

    <script type="text/javascript" src="../scripts/toDo.js"></script>
  </body>
</html>