{{!-- <body class="grid grid-center">
  <div class="container">

      <div class="modal-button">Button</div>

      <div class="grid grid-center modal">

        <div class="grid grid-center modal-content container">

          <div class="grid modal-title-div">
            <div class="title modal-title">My Modal</div>
            <div class="modal-close">&times;</div>
          </div>

          <div class="modal-body">
            <div>Random Text</div>
          </div>

        </div>

      </div>

  </div> --}}