.container{
    margin: 15px;
}

.month-row{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}

.switch-div{
    text-align: center;
}

.month-switch{
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e9e9e9;
}

.month-title{
    text-align: center;
    font-size: 35px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.cal{
    display: grid;
    grid-template-columns: repeat(7, 50px);
    gap: 3px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.day{
    display: inline-block;
    text-align: center;
}

.day-name{
    border-bottom: black 3px solid;
    padding: 5px 0;
    margin: 5px 0;
}

.day-name:hover{
    border-bottom: black 3px solid;
    padding: 5px 0;
    margin: 5px 0;
}

.day-box{
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}

.day-box:hover{
    background-color: #9ea6c7;
}

.center-num{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
